// app/assets/stylesheets/signs/_index_signs_scss

.container-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backdrop-index-img {
  width: 100%;
  max-height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.search__text {
  margin-top: 2rem;
}

.signs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 1rem;
  padding: .6rem;
}

.sign-card {
  display: flex;
  align-items: center;
  max-width: fit-content;
  width: 100%;
  height: max-content;
  flex-direction: column;
  padding: 1.2rem;
  background-color: $bg-light;
  margin: 1rem;
  border-radius: $border-soft;
  overflow: hidden;
  font-family: $secondary-font;
  box-shadow: $card-normal-shade;
  &:hover{
    box-shadow: $card-active-shade;
  }
}

.sign-card-link:hover {
  text-decoration: none;
}

.sign-count {
  color: $secondary-color--dark;
  font-size: larger;
  text-decoration: underline;
}

.video {
  background-color: black;
  border-radius: $border-soft;
}

.animated {
	position: relative;
	max-width: 200px;
	overflow: hidden;
	height: 50px;
	text-align: center;
}

.animated__text {
  position: absolute;
  animation: 32s bounce ease-in-out infinite paused;
  white-space: nowrap;
  top: 0;
  // padding: 0 0.5rem;
}

span.animated__text:hover {
    animation-play-state: paused !important;
}

.animated:not(.animated--on-hover) .animated__text,
.animated__text {
  animation-play-state: running;
}

@keyframes bounce {
	0%, 5%, 95%, 100% {
		left: 0%;
		transform: translate(0, 0);
	}
	45%, 55% {
		left: 100%;
		transform: translate(-100%, 0);
	}
}
