// app/assets/stylesheets/signs/_index_signs_scss

.signs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 1rem;
  padding: .6rem;
}

.sign-card {
  display: flex;
  max-width: 25rem;
  width: 100%;
  height: max-content;
  flex-direction: column;
  padding: 0;
  background-color: $bg-light;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 1rem;
  border-radius: 20px;
  overflow: hidden;
  font-family: $secondary-font;
  box-shadow: $card-normal-shade;
}

.sign-title {

}

// .video-sign-container {
//   width: 400px;
//   // overflow: hidden;
//   // display: block;
//   height: 200px;
//   margin: 0 auto;
// }

.video {
  background-color: black;
}
