// Specific CSS for your home-page
body {
  background-color: $bg-light;
}

.title {
  size: 20px;
  text-align: center;
}

.flag-image {
  width: 40px;
  padding: 3px;
  border-radius: 7px;
  &:focus {
    box-shadow: inset 4px 4px 12px #D0D3CE;
  }
}

.banner {
  max-width: 100vw;
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.flag-container {
  margin: 1rem;
  padding: .5rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(160, 160, 160);
  // text-align: center;
  border-style: none;
  background-color: $bg-light;
}

.dropdown-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

select, option {
  max-width: 25rem;
  width: 100%;
  padding: .5rem;
}

// .dropdown-item {
//   border: 1px solid red !important;
// }

.dropmic-menu {
  border-radius: 15px !important;
}

.box-text {
  text-align: left;
}

.language-bar {
  text-align: center;
}

.sign-searchbar {
  text-align: center;
}

.searchbar {
  width: 30%;
  position: relative;
  // top: -2%;
  // left: 5%;
  display: flex;
  align-items: center;
  background-color: transparent;
  // background-color: $bg-light;
  text-align: center;
  margin: 10px;
  p {
    flex-grow:1;
    margin:0;
  }
}

.form-control {
  border-radius: 10px;
  box-shadow: inset 2px 2px 10px rgb(160, 160, 160);
  background-color: $bg-light;
}


.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.search-button img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.text-cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.text-card {
  max-width: 14rem;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 1rem;
  word-wrap: break-word;
}

.card-info {
  padding: .5rem;
  text-align: left;
  line-height: 1.5;
}

.text-card--white {
  background-color: $bg-light;
}

.text-card--pink {
  background-color: $primary-color;
}

.text-card--orange {
  background-color: $secondary-color--dark;
}

.text-card--blue {
  background-color: $sub-color;
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height: max-content;
  padding: 1.5rem;
  border-top: 1rem solid $sub-color;
  text-align: center;
  z-index: 1;
  background-color: $bg-light;
}

.ticker {
  position: relative;
  overflow: hidden;
  height: 50px;
}

.marquee {
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  font-size: 30px;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
  animation-direction: reverse;
}

.marquee2 span {
  animation-delay: 10s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
