// * {
//   outline: 1px solid tomato;
// }

// img {
//   display: block;
//   max-width: 100%;
// }

// Specific CSS for your home-page
body {
  background-color: $bg-light;
}

.title {
  size: 20px;
  text-align: center;
}

.flag-image {
  width: 40px;
  padding: 3px;
  border-radius: 7px;
  box-shadow: 4px 4px 12px #D0D3CE;
  &:hover {
    box-shadow: inset 4px 4px 12px #D0D3CE;
  }
  &:focus {
    box-shadow: inset 4px 4px 12px #D0D3CE;
  }
}

.flag-container {
  margin: 1rem;
  padding: .5rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(160, 160, 160);
  border-style: none;
  background-color: $bg-light;
}

.dropdown-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

select, option {
  max-width: 25rem;
  width: 100%;
  padding: .5rem;
}

.dropmic-menu {
  border-radius: 15px !important;
}

.box-text {
  text-align: left;
}

.language-bar {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80rem;
  // justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.search-bar-infos {
  font: $secondary-font;
  align-self: center;
  color: white;
  text-shadow: 0 0 10px black;
  margin: 0;
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 0;
}

.sign-searchbar {
  text-align: center;
  // width: #{"min(100% - 2rem, 516px)"};
  width: 516px;
}

.searchbar {
  width: 30%;
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent;
  text-align: center;
  margin: 10px;
  p {
    flex-grow:1;
    margin:0;
  }
}

.search-image {
  width: 24px;
  height: 24px;
}

.lang-search-wrap {
  display: flex;
}

#home_searchbar{
  width:100%;
  .form-control{
    width:100%
  }
}

.flex-container {
  z-index: 1;
  padding: 0px;
}

.form-control {
  border-radius: 10px;
  box-shadow: inset 2px 2px 10px rgb(160, 160, 160);
  background-color: $bg-light;
  width: max-content;
}


.search-button {
  background-color: $sub-color;
  border: none;
  border-radius: .3rem;
  padding: .6rem 2rem;
  outline: none;
  margin-left: -33px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.text-cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  padding-bottom: 80px;
  flex-wrap: wrap;
}

.text-card {
  width: 40%;
  padding: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 1rem;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.card-info {
  padding: .5rem;
  text-align: left;
  line-height: 1.5;
}

.text-card--white {
  background-color: $bg-light;
}

.text-card--pink {
  background-color: $primary-color;
}

.text-card--orange {
  background-color: $secondary-color--dark;
}

.text-card--blue {
  background-color: $sub-color;
}

.ticker-box {
  margin-bottom: 3rem;
  width: auto;
}

.ticker {
  position: fixed;
  bottom: 0;
  width: auto;
  z-index: 100;
  overflow: hidden;
  height: 50px;
  background-color: #1E849D;
}

.marquee {
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  font-size: 30px;
  font-weight: 600;
  color: white;
}


.marquee span {
  display: inline-block;
  // padding-left: 100%;
  animation: marquee 60s linear infinite;
  animation-direction: reverse;
}

.marquee2 span {
  animation-delay: 30s;

}

.home__logo svg {
  // width: 500px;
  width: 500px;
  height: auto;
}
