// Specific CSS for your home-page

.flag-container {
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(160, 160, 160);
}


.searchbar {
  width: 30%;
  position: relative;
  top: -2%;
  left: 35%;
  display: flex;
  align-items: center;

  p {
    flex-grow:1;
    margin:0;
  }
}

.form-control {
  border-radius: 10px;
  box-shadow: inset 2px 2px 10px rgb(160, 160, 160);
}


.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 1rem;
  padding: .6rem;
}

.menu-card {
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  max-width: 25rem;
  width: 100%;
  height: max-content;
  flex-direction: column;
  padding: 14px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 1rem;
  border-radius: 15px;
  overflow: auto;
}

.card-info {
  align-self: flex-start;
  display: inline-block;
  flex-direction: column;
  margin: auto;
  margin-left: 1rem;
  text-align: left;
  align-items: baseline;
  line-height: 1.5;
}

.white-card {
  background-color: white
}

.pink-card {
  background-color: #FF70A6
}

.orange-card {
  background-color: #FF9770
}

.blue-card {
  background-color: #70D6FF
}
