

.container-show {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 80px;
}

.video-card {
  display: flex;
  align-items: center;
  max-width: 25rem;
  width: 100%;
  height: max-content;
  flex-direction: column;
  padding: 0;
  background-color: $bg-light;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 1rem;
  border-radius: 20px;
  overflow: hidden;
  font-family: $secondary-font;
  box-shadow: $card-normal-shade;
}
