<p>There are ... results for your search</p>

<div class="flex-container">
  <div class="signs-grid">
    <% @signs.each do |sign| %>
      <%= link_to signs_path(sign), class: "" do %>
        <section class="sign-card">
          <h1 class="sign-tittle">word</h1>
          <span class="language-icon"></span>
          <p class="sign-example">Some example sentences are here</p>
          <p class="sign-descript"><%sign.description %></p>
           <%= #cl_video_tag sign.video.key, height: 200, width: 250, crop: :fill, class: "sign-video" %>
        </section>
      <% end %>
    <% end %>
  </div>
</div>
