<!-- app/views/signs/requests.html.erb -->
<% if inquiry.video.attached? %>
  <% @inquiries.each do |inquiry| %>
    <%= inquiry.title %>
    <%= inquiry.description %>
    <%= inquiry.status %>
      <div class="video-sign-container">
        <%= cl_video_tag(inquiry.video.key, :controls=>false, :autoplay=>false, :loop=>true, :muted=>true, :width=>220, :height=>150, class:"video")%>
      </div>
  <% end %>
<% end %>
