<section class="banner" style="background-image: url('https://akm-img-a-in.tosshub.com/indiatoday/images/story/202109/photo-1517568730816-501aae259c_1200x768.jpeg?A__z_doe3SL_tHpBheV8N6L32h2XylgH&amp;size=770:433" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202109/photo-1517568730816-501aae259c_1200x768.jpeg?A__z_doe3SL_tHpBheV8N6L32h2XylgH&amp;size=770:433')" >
</section>

<div data-controller="dropdown">
  <span class="dropmic" data-dropmic="1" role="navigation" data-dropdown-target="dropdowns"     data-action="click->dropdown#toggleDropdown">
    <button data-dropmic-btn class="flag-image" ><img src="https://cdn-icons-png.flaticon.com/512/3013/3013911.png" id="chosen_flag" width="25" height="25"></button>
    <div class="dropmic-menu" aria-hidden="true">
      <li class="dropmic-menu__listItem" role="menuitem">
        <button class="dropmic-menu__listContent" value="ua" onclick="updateLangFlag(this.value)" tabindex="-1"><img id="ua-img" src="https://cdn-icons-png.flaticon.com/512/3013/3013911.png" width="25" height="25"> American English</button>
        <button class="dropmic-menu__listContent" value="ge" onclick="updateLangFlag(this.value)" tabindex="-1"><img id="ge-img" src="https://cdn-icons-png.flaticon.com/512/321/321233.png" width="25" height="25"> German</button>
        <button class="dropmic-menu__listContent" value="fr" onclick="updateLangFlag(this.value)" tabindex="-1"><img id="fr-img" src="https://cdn-icons-png.flaticon.com/512/330/330490.png" width="25" height="25"> French</button>
      </li>
    </div>
  </span>

  <span class="dropmic" data-dropmic="1" role="navigation" data-dropdown-target="dropdowns" data-action="click->dropdown#toggleDropdown">
    <button data-dropmic-btn class="flag-image" ><img src="https://cdn-icons-png.flaticon.com/512/3013/3013911.png" id="tl-chosen_flag" width="25" height="25"></button>
    <div class="dropmic-menu" aria-hidden="true">
      <li class="dropmic-menu__listItem" role="menuitem">
        <button class="dropmic-menu__listContent" value="tl-ua" onclick="updateTargetLangFlag(this.value)" tabindex="-1"><img id="tl-ua-img" src="https://cdn-icons-png.flaticon.com/512/3013/3013911.png" width="25" height="25"> American English</button>
        <button class="dropmic-menu__listContent" value="tl-ge" onclick="updateTargetLangFlag(this.value)" tabindex="-1"><img id="tl-ge-img" src="https://cdn-icons-png.flaticon.com/512/321/321233.png" width="25" height="25"> German</button>
        <button class="dropmic-menu__listContent" value="tl-fr" onclick="updateTargetLangFlag(this.value)" tabindex="-1"><img id="tl-fr-img" src="https://cdn-icons-png.flaticon.com/512/330/330490.png" width="25" height="25"> French</button>
      </li>
    </div>
  </span>
</div>
<%= form_tag signs_path, class: "searchbar", method: :get, html: { data: {search_signs_target: 'form'}} do %>
  <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an amazing sign"
      %>
  <button type="submit" class="search-button">
    <%= image_tag "search.png", class: "flag-image" %>
  </button>
<% end %>
</div>
<div class="text-cards">
  <div class="text-card text-card--white">
    <div class="card-info">
      <h2 class="font-gamma">Categories</h2>
      <p class="box-text text-para--light">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
  </div>
  <div class="text-card text-card--pink">
    <div class="card-info">
      <h2 class="font-gamma">Reviews</h2>
      <p class="box-text text-para--light">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
  </div>
  <div class="text-card text-card--blue">
    <div class="card-info">
      <h2 class="font-gamma">Community</h2>
      <p class="box-text text-para--light">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
  </div>
  <div class="text-card text-card--orange">
    <div class="card-info">
      <h2 class="font-gamma">Members</h2>
      <p class="box-text text-para--light">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
  </div>
</div>
<footer class="footer">
  <p class="footer__text text-para--medium">Made with ❤️</p>
</footer>
<script>
  // language dropdown – click flag => flag changes
    const updateLangFlag = (flag) => {
      var chosenLangButton = document.getElementById("chosen_flag");
      let chosenLangImage = document.getElementById(flag+"-img");
      var getChosenFlagLink = chosenLangImage.src;
      chosenLangButton.src = getChosenFlagLink;
    }

      function updateTargetLangFlag(flag) {
        console.log(flag)
        var chosenLangButton = document.getElementById("tl-chosen_flag");
        let chosenLangImage = document.getElementById(flag+"-img");
        var getChosenFlagLink = chosenLangImage.src;
        chosenLangButton.src = getChosenFlagLink;
      }
</script>
