
.container-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 1rem;
  padding: .6rem;
}

.category-card--index {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  max-width: 16rem;
  width: 100%;
  // height: 8rem;
  padding: 1rem;
  background-color: $bg-light;
  margin: 1rem;
  border-radius: $border-soft;
  overflow: hidden;
  font-family: $secondary-font;
  box-shadow: $card-normal-shade;
  position: relative;
  &:hover{
    box-shadow: $card-active-shade;
  }
}

.category-card--index > * {
  grid-column: span 2;
}

.category-liked {
  grid-row: 4;
  grid-column: 2;
  place-self: end;
}

.categories-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 1rem;
  padding: .6rem;
}
