.banner {
  // background-size: cover;
  // background-position: center;
  height: 400px;
  // background-size: 300px 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}
