.banner {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.home-banner {
  background-image: url('https://akm-img-a-in.tosshub.com/indiatoday/images/story/202109/photo-1517568730816-501aae259c_1200x768.jpeg?A__z_doe3SL_tHpBheV8N6L32h2XylgH&amp;size=770:433" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202109/photo-1517568730816-501aae259c_1200x768.jpeg?A__z_doe3SL_tHpBheV8N6L32h2XylgH&amp');
  background-size: cover;
  height: 50vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}
