.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
  // background: $bg-light;
  // border-bottom: 1rem solid $sub-color;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-nav {
  align-items: center;
}

.btn-link {
  text-decoration: none !important;
  background-color: transparent;
  border: none;
  padding: 2px 15px !important;
  margin: 10px;
  font-family: $secondary-font;
  font-size: $font-size-16;
  font-weight: $font-weigh--light;
  color: $font-color;
  line-height: 1.1;
  &:hover {
    color: $font-color;
  }
}


.focus-tab {
  border-radius: 25px;
  box-shadow: inset 2px 2px 10px rgb(160, 160, 160);
  margin: 10px;
  padding: 9px 15px !important;
  background-color: rgb(255, 255, 255);
}

#searchbar {
  border-radius: 20px;
  width: fit-content;
}
