.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar-lewagon {
  justify-content: space-between;
  background: $bg-light;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
  // background: $bg-light;
  // border-bottom: 1rem solid $sub-color;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-nav {
  align-items: center;
}

.btn-link {
  text-decoration: none !important;
  background-color: $bg-light;
  border-radius: 2rem;
  border: none;
  margin: 1rem;
  padding: .6rem 1rem !important;
  font-family: $secondary-font;
  font-size: $font-size-16;
  font-weight: $font-weigh--normal;
  color: $font-color;
  line-height: 1.1;
  &:hover {
    color: $font-color;
    box-shadow: inset 4px 4px 20px #C2C2BD,
                inset -4px -4px 20px #C2C2BD;;
  }
}


.focus-tab {
  border-radius: 2rem;
  box-shadow: inset 4px 4px 20px #C2C2BD,
              inset -4px -4px 20px #C2C2BD;
  margin: 1rem;
  padding: .6rem 1rem !important;
  background-color: $bg-light;
}

#searchbar {
  border-radius: 20px;
  width: fit-content;
}

.user-avatar {
  border-radius: .3rem;
  box-shadow: $button-flat-shade;
  border: none;
}
